@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

@theme {
    --font-roboto: "Roboto", sans-serif;

    --color-primary: #2B3467;
    --color-secondary: #EB455F;
    --color-accent: #BAD7E9;
    --color-light-accent :#FCFFE7; 

}

:root {
    interpolate-size: allow-keywords;
}
