@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Stack+Sans+Text:wght@200..700&display=swap');

@import "tailwindcss";

@theme {
    --font-inter : "Inter", sans-serif;

    --color-primary: #7A4179;
    --color-secondary: #DFCBEB;
    --color-accent: #BBB791;
    --color-light-accent :#E4F0C0; 

}

:root {
    interpolate-size: allow-keywords;
}

main {
    font-family: "Stack Sans Text", sans-serif;
}

.wrapper {
    display: grid;
    grid-template-columns:
    [full-width-start] 20px 
    [breakout-start] 10px 
    [content-start] 1fr [content-end] 
    10px [breakout-end] 
    20px [full-width-end];
    row-gap: 50px;
}

.content {
    grid-column: content;
}
.breakout {
    grid-column: breakout;
}

.fade-enter-active,
.fade-leave-active{
    transition: opacity .5s ease;
}

.fade-enter-from,
.fade-leave-to{
    opacity: 0;
}
